phone = max-width 800px
#fb, #cd, #gh
  font-size: 1.2em

#contact-page
  position: absolute;
  width 99%
  height 90vh
  z-index: 100
  display flex
  flex-direction row
  align-items center
  overflow-y: hidden;
  overflow-x: hidden;
  @media(max-width 425px){
    flex-direction: column;
    width 100%
  }
  #left-box
    background white
    border 5px solid black
    border-left none
    height 91%
    width 50%
    display flex
    justify-content center
    align-items center
    overflow-x: hidden;
    overflow-y: hidden;
    @media(max-width: 425px){
      width 93%
      border-right none
      border-bottom none
      height 50%
      align-self: flex-start;
    }
    #name-tag
      display flex
      flex-direction column
      justify-content: center;
      align-items left
      background none
      color black
      width 50%
      height 100%
      @media(max-width 768px){
        width 95%
      }
      @media(max-width 320px){
        font-size .7em
      }
      ul
        display flex
        justify-content flex-start
        list-style none
        @media(max-width 425px){
          margin-top -2%
        }
        li
          padding-right 80px
      #tag
        font-variant small-caps
        font-size 2.5rem
        @media(max-width 425px){
          margin-top -5%
        }
        #name
          font-weight bold
      #title
        margin-top -35px
        font-size .8rem
        @media(max-width 425px){
          margin-top -13%
        }
      h4
        @media(max-width 425px){
          margin-top -2%
        }
      #desc
        font-size .8rem
        margin-top -2%

      p
        font-size 1rem
        span
          font-weight bold
          color black
        a
          text-decoration underline
          color black
          &:hover
            background black
            color white
            border-radius 2.5px

#right-box-container
  width 50%
  height 92%
  overflow-x: hidden;
  overflow-y: hidden;
  @media(max-width: 425px){
    width 96%
    height 45%
    align-self: flex-start

  }


#right-box
  display flex
  justify-content: center;
  align-items: center;
  flex-direction column
  width 100%
  background-color: rgba(0,0,0,.95)
  height 100%
  @media(max-width 425px){
    height 100%
  }
  @media(max-width 1024px){
    width 97.5%
  }
  #reach
    font-weight bold
    color white
  #reach-header
    @media(max-width 425px){
      position: absolute;
      margin-top -30%
      left 0
    }
  p
    font-size 2.5rem
    font-variant: small-caps;
    color rgba(255,255,255,.75)
    @media(max-width 425px){
      font-size: 1.5em
    }
  p.subheading
    color rgba(255,255,255,.75)
    font-size .8rem
    margin-top -35px
    @media(max-width 425px){
      position: absolute;
      left 0
      margin-top -20%
    }
.socialLrg
  font-size: 36px

  a
    text-decoration: none
#contact-form
  display flex
  flex-direction column
  justify-content space-around
  @media(max-width 425px){
    width 100%
    flex-direction: row
    flex-wrap: wrap;
  }
  input
    background none
    color white
    padding 20px
    margin-bottom 10%
    border 1px solid white
    @media(max-width 425px){
      margin-bottom 0px
      width 100%
    }
    @media(min-width 1650px){
      width 20vw
    }
  textarea
    color white
    padding-bottom 75px
    background none
    border 1px solid white
    padding-left 20px
    padding-top 20px
    @media(max-width 425px){
      padding-top 0px
      padding-bottom 10px
      height 20%
      position: absolute;
      bottom 0
      left 0
    }
  button
    position: absolute;
    bottom 0
    cursor: pointer
    margin-bottom 19px
    @media(max-width 425px){
      margin-bottom 50px
      margin-left 50px
    }
    text-decoration none
    color white
    padding 10px 20px 10px 20px
    width 100px
    background none
    border 2px solid white
    &:hover
      background white
      color black
      font-weight: bold
    @media(max-width 425px){
      position absolute
      right 1
      width 50px
    }

.socialLrg
  font-size: 2em
  a
    text-decoration: none;

.soc2 a
  color black
  &:hover
    color #1A85BC
.soc3 a
  color black
  &:hover
    color lighten(gray, 36%)
