.header-container
  border-bottom 2px solid black
.navigation  
  display flex  
  justify-content space-around    
div.label
  font-family: 'Lobster', cursive;
  font-variant: small-caps;
  a
    color black
.logo2
  cursor: pointer
.link-list
  list-style none
  display flex  
  align-self center  
.item a
  font-size: 1em
  color black
  text-decoration none
  padding 0 20px
  font-variant: small-caps;
  font-family Roboto Mono 
  &:hover
   color #DD2321 
.ghub
  text-decoration: none
  color black
  padding-left 5px
  