.container 
  display grid;      
  grid-template-columns 1fr 1fr 1fr
  grid-template-rows auto
  justify-items center
  width 100%  
  @media screen and (max-width: 1000px)
    grid-template-columns 1fr 1fr 
  @media screen and (max-width: 675px)
    grid-template-columns 1fr
  
.pject-single
  display flex
  flex-direction column  
  margin 20px  
  width 300px  
  &:hover
    transform:scale(1.05)

.project-thumb
  width 100%
  

.card-header
  font-variant small-caps;  
  border-bottom 1px solid black;
  
.card-text
  font-family Roboto Mono
  
    
  

  
  

