.selection   
  display flex 
  width calc(100vw - 40px)     
  justify-content: center
  align-items: center;  
  border-right 1px solid black 
.sel-left  
  display flex
  text-align: center
  width: 50%  
  flex-direction column
  align-items center     
.sel-left-content  
  height 300px
  text-align center
.skillbar 
  display flex  
  justify-content: space-around
  align-items: center
  border-top 1px solid black
  width 100%
  height 100px
.skill-solo > img 
  height 100px  
  width 100px 
.sel-right img 
  max-width 98%
  

.back-button
  cursor pointer
  
#backbtn-container
  width 100%
  display: flex    
  align-items: center
  justify-content: center
  border-top 1px solid black

#backbtn-container > img 
  cursor pointer
  &:hover    
    transform: translateX(-5px)

