.welcome-text
    position: absolute;
    left 50%
    top 50%
    transform: translate(-50%, -50%);
  
.intro
  font-size 1.2rem
  margin-bottom -40px

.dev
  font-size 2.4rem
  span
    color #DD2321
