div.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
  width: 100%;
  margin-top: 4vh;
}
ul.aboutList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul.aboutList li.pane {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
  padding-right: 10px;
  list-style: none;
}
ul.aboutList li.pane .sections {
  color: #000;
}
ul.aboutList li.pane .sections h4 {
  font-size: 1.5em;
}
ul.aboutList li.pane .sections ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
ul.aboutList li.pane .sections ul li {
  padding: 0px 25px;
  color: #000;
  font-weight: bold;
}
@media (max-width: 425px) {
  ul.aboutList li.pane .sections ul li {
    font-weight: normal;
    margin-left: -30px;
  }
}
.about1 {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 40vw;
}
@media (max-width: 1090px) {
  .about1 {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: -20vh;
  }
}
@media (max-width: 523px) {
  .about1 {
    width: 100%;
  }
}
.about1 section {
  display: block;
}
#section1 p {
  font-size: 2em;
}
@media (max-width: 1024px) {
  #section1 p {
    font-size: 1.5em;
    margin-bottom: -20px;
  }
}
@media (max-width: 1090px) {
  #section1 {
    width: 500px;
  }
}
@media (max-width: 523px) {
  #section1 {
    position: absolute;
    width: 300px;
    font-size: 10px;
    top: 0%;
    margin-top: -10%;
  }
}
@media (max-width: 523px) {
  #section2 {
    position: absolute;
    top: 60%;
    right: 30%;
  }
}
@media (max-width: 523px) {
  #section2 li {
    text-shadow: 0.5px 0.5px 1px #fff;
  }
}
#section3 {
  overflow: hidden;
  position: relative;
}
@media (max-width: 523px) {
  #section3 {
    position: absolute;
    top: 20%;
    right: 15%;
  }
}
@media (max-width: 523px) {
  #section3 li {
    text-shadow: 0.5px 0.5px 1px #fff;
  }
}
.section4 {
  background: url("/head-right-small.jpg") no-repeat center center;
  position: absolute;
  height: 500px;
  width: 666px;
  bottom: 0;
}
@media (min-width: 1500px) {
  .section4 {
    height: 800px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about3 {
  z-index: 1;
  height: 70vh;
  width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
}
h1 {
  color: #ffc0cb;
}
.main {
  border: 6px solid #000;
  height: 96vh;
  z-index: 1000;
}
#fb,
#cd,
#gh {
  font-size: 1.2em;
}
.contact-page {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#contact-page {
  position: absolute;
  width: 80%;
  height: 80vh;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 425px) {
  #contact-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 90%;
  }
}
#contact-page #left-box {
  background: #fff;
  border: 5px solid #000;
  border-left: none;
  height: 85%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 425px) {
  #contact-page #left-box {
    width: 93%;
    border-right: none;
    border-bottom: none;
    height: 45%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
#contact-page #left-box #name-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: none;
  color: #000;
  width: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  #contact-page #left-box #name-tag {
    width: 95%;
  }
}
@media (max-width: 320px) {
  #contact-page #left-box #name-tag {
    font-size: 0.7em;
  }
}
#contact-page #left-box #name-tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}
@media (max-width: 425px) {
  #contact-page #left-box #name-tag ul {
    margin-top: -2%;
  }
}
#contact-page #left-box #name-tag ul li {
  padding-right: 80px;
}
#contact-page #left-box #name-tag #tag {
  font-variant: small-caps;
  font-size: 2.5rem;
}
@media (max-width: 425px) {
  #contact-page #left-box #name-tag #tag {
    margin-top: -5%;
    display: none;
  }
}
#contact-page #left-box #name-tag #tag #name {
  font-weight: bold;
}
#contact-page #left-box #name-tag #title {
  margin-top: -35px;
  font-size: 0.8rem;
}
@media (max-width: 425px) {
  #contact-page #left-box #name-tag #title {
    margin-top: -13%;
  }
}
@media (max-width: 425px) {
  #contact-page #left-box #name-tag h4 {
    margin-top: -2%;
  }
}
#contact-page #left-box #name-tag #desc {
  font-size: 0.8rem;
  margin-top: -2%;
}
#contact-page #left-box #name-tag p {
  font-size: 1rem;
}
#contact-page #left-box #name-tag p span {
  font-weight: bold;
  color: #000;
}
#contact-page #left-box #name-tag p a {
  text-decoration: underline;
  color: #000;
}
#contact-page #left-box #name-tag p a:hover {
  background: #000;
  color: #fff;
  border-radius: 2.5px;
}
.soc2 a {
  color: #000;
}
.soc2 a:hover {
  color: #1a85bc;
}
.soc3 a {
  color: #000;
}
.soc3 a:hover {
  color: #aeaeae;
}
.container {
  border-bottom: 2px solid #000;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.label {
  font-family: 'Lobster', cursive;
  font-variant: small-caps;
}
div.label a {
  color: #000;
}
.logo2 {
  cursor: pointer;
}
.link-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.item a {
  font-size: 1em;
  color: #000;
  text-decoration: none;
  padding: 0 20px;
  font-variant: small-caps;
  font-family: Roboto Mono;
}
.item a:hover {
  color: #dd2321;
}
.MidLetterRow {
  height: 88%;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.LetterRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20px;
  margin: 0px 50px;
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
}
@media (max-width: 1440px) {
  .LetterRow {
    margin: 0px 25px;
  }
}
@media (max-width: 425px) {
  .LetterRow {
    margin: 0px 8px;
    font-size: 1em;
  }
}
.currentLetter {
  opacity: 1;
  color: #000;
}
.final {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.final div {
  background: #fff;
  opacity: 0;
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
  padding: 0px 51px;
  max-width: 20px;
}
@media (max-width: 1440px) {
  .final div {
    padding: 0px 25px;
  }
}
@media (max-width: 425px) {
  .final div {
    padding: 0px 8px;
    font-size: 1em;
  }
}
.N {
  text-transform: lowercase;
}
.wrapper {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 30px;
}
.wrapper .pject-single {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
@media (max-width: 400px) {
  .wrapper .pject-single {
    width: 100%;
  }
}
.wrapper .pject-single .pject-header {
  font-variant: small-caps;
  text-align: center;
  font-size: 2em;
}
.wrapper .pject-single .pject-img {
  text-align: center;
}
.wrapper .pject-single .pject-img img {
  max-width: 50%;
}
@media (max-width: 400px) {
  .wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }
}
@media (min-width: 401px) {
  .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}
#border-wrap {
  width: 5px;
  opacity: 1;
  background-color: #fff;
}
.wrapper-card {
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  left: 50%;
  margin-left: -25%;
  top: 50%;
  margin-top: -20%;
  z-index: 10;
  height: 80vh;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 6px solid #000;
}
@media (max-width: 768px) {
  .wrapper-card {
    width: 98%;
    height: 80vh;
    left: 0;
    margin-left: 1%;
  }
}
@media (max-width: 425px) {
  .wrapper-card {
    height: 75vh;
    width: 92%;
  }
}
.card {
  height: 100%;
  color: #000;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .card-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card h1 {
  padding-top: 10px;
  color: #000;
}
@media (max-width: 425px) {
  .card h1 {
    font-size: 0.7rem;
  }
}
.card div.card-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 425px) {
  .card div.card-right-content p {
    font-size: 0.7rem;
  }
}
.card div.card-right-content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card div.card-right-content ul li.skill {
  height: 50px;
  width: 50px;
  padding-bottom: 20px;
}
@media (max-width: 425px) {
  .card div.card-right-content ul li.skill img {
    height: 45px;
    width: 45px;
    padding-bottom: 0px;
  }
}
.card div.card-right-content ul a {
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  background: none;
  margin-left: 30px;
  padding: 10px 40px;
  font-size: 1.5rem;
}
.card div.card-right-content ul a:hover {
  color: #fff;
  background: #000;
}
@media (max-width: 425px) {
  .card div.card-right-content ul {
    margin-left: 0;
  }
}
div.wrapped-item {
  height: 100%;
  width: 98%;
}
.thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 425px) {
  .thumbs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.thumb {
  background: url("/thumbs/port1.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb {
    height: 10vh;
  }
}
.thumb2 {
  background: url("/thumbs/port2.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb2 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb2 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb2 {
    height: 10vh;
  }
}
.thumb3 {
  background: url("/thumbs/chaos1.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb3 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb3 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb3 {
    height: 10vh;
  }
}
@media (max-width: 425px) {
  .thumb3 {
    display: none;
  }
}
.thumb4 {
  background: url("/thumbs/chaos2.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb4 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb4 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb4 {
    height: 10vh;
  }
}
@media (max-width: 425px) {
  .thumb4 {
    display: none;
  }
}
.thumb5 {
  background: url("/thumbs/QT3.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb5 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb5 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb5 {
    height: 10vh;
  }
}
.thumb6 {
  background: url("/thumbs/QT2.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb6 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb6 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb6 {
    height: 10vh;
  }
}
.thumb7 {
  background: url("/thumbs/LO1.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb7 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb7 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb7 {
    height: 10vh;
  }
}
.thumb8 {
  background: url("/thumbs/LO2.jpg");
  background-size: cover;
  color: #000;
  border: 2px solid #000;
  width: 50%;
  margin: 10px;
  height: 20vh;
}
@media (min-width: 2560px) {
  .thumb8 {
    height: 30vh;
  }
}
@media (max-width: 1024px) {
  .thumb8 {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .thumb8 {
    height: 10vh;
  }
}
#overlay {
  position: fixed;
  z-index: 9;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.skill-logo {
  padding: none;
  margin: none;
  height: 90px;
  width: 90px;
}
.fa {
  padding-top: 20px;
  font-size: 2.5em;
}
.nameTag {
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
  display: inline;
}
.nameTag div.nameBack {
  display: inline;
  text-decoration: underline;
}
.nameTagLocation {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.label {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo2 {
  color: #fff;
  padding-left: 5px;
  padding-bottom: 5px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-size: 64px;
  font-weight: bold;
  text-decoration: none;
}
.welcome-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro {
  font-size: 1.2rem;
  margin-bottom: -40px;
}
.dev {
  font-size: 2.4rem;
}
.dev span {
  color: #dd2321;
}
body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #fff;
  color: #000;
}
